Жду новый или отредактированный текст. <br>
Если нужно скопировать старый текст - жмём кнопку
<code>Сообщение с текстом</code>
и появится <span class="tg-spoiler"><i>(удивительно!)</i></span> сообщение, по нажатию на которое скопируется текст.