Добавьте пост так, как вы хотите, чтобы он выглядел. <br>
Можно добавить: <br>
- фото <br>
- видео <br>
- описание к ним <br>
- голый текст (без фото и т.д.) <br>
- документ (в крайнем случае, добавление без причины - повод для отклонения поста) <br>
- аудио (не голосовое сообщение и только в крайнем случае, добавление без причины - повод для отклонения поста) <br>
<br>
Суммарно можно добавить не более 10 медиафайлов.<br>
<br>
После того как пост подготовлен - отправляйте и нажимайте кнопку
<pre>Предпросмотр ➡</pre>
чтобы утвердить или отклонить пост. <br>
<br>
<b>ОГРОМНАЯ ПРОСЬБА:</b> обращайте внимание на правила русского языка.